@model List<Course>
@section Header {

    @await Html.PartialAsync("_Header")
}
<div class="container">
    <div class="row g-5 p-5 ">

        @foreach (var kurs in Model)
        {



            @if (kurs.IsHome && kurs.IsActive)
            {
                <div class="col-4">
                    <div class="card">
                        <img src="~/img/@kurs.Image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@kurs.Name</h5>
                            <p class="card-text">@kurs.Description</p>
                            <a asp-controller="Course" asp-action="Details" asp-route-id="@kurs.Id" class="btn btn-primary">Detay</a>
                        </div>
                    </div>
                </div>
            }




        }

    </div>
</div>





