

<div class="bg-light">
    <div class="bg-light container">
    <div class="row col-md-12   ">
        <div class="col-md-8 ">
          <div class=" card py-5 border-0 bg-light ">
            <div class="card-body">
              <h5 class="card-title fs-1 fw-bold">Home Page</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quaerat aperiam omnis, impedit fuga voluptatibus quae, laudantium nihil commodi nam pariatur et soluta, libero cupiditate odit aspernatur iste repellendus iure!</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
    </div>
</div></div>

